#google-logo{
    display: flex;
    margin: auto;
}

#search-bar{
    display: flex;
    margin: auto;
}

button{ 
    background-color: #f5f5f5;
    border: none;
    padding: 8px 14px 8px 14px;
}

#button-format{
    padding-top: 5%;
    padding-left: 32%;
    display: flex;
    justify-content: space-between;
    width: 36%;
}

#nav-bar{
    padding-left: 1%;
    padding-bottom: 22.5%;
    margin: 0;
    list-style-type: none;
    width: 98%;
}

#footer{
    padding-left: 10%;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 80%;

}

li{
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    color: black;
}
.right-footer{
    display: block;
    float: right;
}

form{
    padding-top: 5%;
}