#google-logo{
    display: flex;
    margin: auto;
}

#search-bar{
    display: flex;
    margin: auto;
    width: 570px;
    padding: 14px 5px 14px 5px;
    border-radius: 25px;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px white;
}

#search-bar:hover{
    border-color: white;
    box-shadow: 0 0 5px #DCDCDC;
}

button{ 
    background-color: #f8f8f8;
    border: solid;
    border-color: #f8f8f8;
    border-width: 1px;
    border-radius: 4px;
    padding: 8px 14px 8px 14px;
    font-size: 14px;
    margin: 0px 5px 0px 5px;
}

button:hover{
    border: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    box-shadow: 0 1px 1px #e0e0e0;
}

#button-format{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#nav-bar{
    padding-left: 1%;
    padding-bottom: 165px;
    margin: 0;
    list-style-type: none;
    width: 99%;
}

#footer{
    padding: 0;
    margin: 0;
    left: 0;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-style: solid;
    border-top-color: #e0e0e0;
    border-width: 1px;
    border-color: #e0e0e0 #f8f8f8 #f8f8f8 #f8f8f8;
}

.grey-text{
    color: #808080;
}

li{
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    color: black;
}

li a:hover{
    text-decoration: underline;
}

.right-footer{
    display: block;
    float: right;
}

#footer-format{
    width: 81%;
    padding-left: 9.5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

form{
    padding-top: 30px;
}

.material-icons-outlined{
    font-family: 'Material Icons';
    font-size: 24px;
    color: #808080;
}

#right-footer-app{
    padding-top: 10px;
    padding-left: 14px;
}

#search-icon{
    font-size: 20px;
    color: #909090;
    position: absolute;
    top: 308px;
}

.search-container{
    display: flex;
    justify-content: center;
    padding-right: 520px;
}

#mic-icon{
    font-size: 20px;
    color: #909090;
    position: absolute;
    top: 308px;
}

.mic-container{
    display: flex;
    justify-content: center;
    padding-left: 520px;
}

#github-profile{
    width: 40px;
    height: 40px;
}

#right-footer-img{
    padding-top: 2px;
    padding-left: 3px;
}